.about-page .navbar {
    position: absolute;
   
}

.about-page .navbar .second-ul {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
}


.about-page {
    text-align: center;
    font-weight: 500;
    background-color: white;
    color: #212121;
    font-family: 'Playfair Display', serif;
}

.about-page footer {
    margin-top: 100px;
}


.logo-about-page {
    width: 100%;
    height:60vh;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: end;
}

.about-header {
    font-size: 33px;
    line-height: 44px;
    letter-spacing: 3.5px;
    margin-block: 50px;
}

.about-text {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 1.6px;
    margin-inline: 10%;
}


@media (max-width:700px) {
   

    .about-text {
        font-size: 20px;
    }

    .about-header {
        font-size: 25px;
    }

    
}