.about-page .navbar {
    position: absolute;
}

.about-page {
    text-align: center;
    font-weight: 500;
    background-color: white;
    color: #212121;
}

.about-page footer {
    margin-top: 100px;
}

.about-img {
    width: 100%;
    height: 500px;
}

.about-header {
    font-size: 33px;
    line-height: 44px;
    letter-spacing: 3.5px;
    margin-block: 50px;
}

.about-text {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 1.6px;
    margin-inline: 10%;
}


@media (max-width:700px) {
    .about-text {
        font-size: 20px;
    }

    .about-header {
        font-size: 25px;
    }
}