.home-page .navbar {
    position: absolute;
}

.product-showcase-div {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 70vh;
   margin-top: 0;
   padding: 0px;
}

.product-showcase-div p {
    margin: 0;
}

.background-container {
    background: url("https://images.unsplash.com/photo-1643123158251-3a66f53a4635?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

