.impressum-header {
    text-align: center;
    margin-top: 150px;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 3.5px;
    color: #212121;
}

.impressum-div {
    margin-inline: 20%;
    margin-block: 80px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
  
}

@media (max-width:700px) {
    .impressum-div {
        font-size: 10px;
        margin-inline: 10%;
    }
}

.small-header {
    font-size: 13px;
    font-weight: 800;
    line-height: 22.5px;
    letter-spacing: 0.5px;
}