@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&display=swap');

ul,
li {
  margin-left: 0;
  padding: 0;
}

li {
  font-size: 23px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: 1.5px underline;
  text-underline-offset: 7px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  color: #212121;

}

.navbar-header {
  font-size: 37px;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
}

.logo-navbar {
  width: 100px;
  font-size: 37px;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.first-ul {
  justify-content: space-between;
  padding: 20px;
  font-family: 'Playfair Display', serif;
}

.second-ul {
  justify-content: center;
  gap: 50px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

@media (max-width:800px) {
  .second-ul {
    gap: 22px;
  }
  li {
    font-size: 16px;
  }
  .navbar-header {
    font-size: 26px;
  }
}

.number-cart-items {
  position: absolute;
  color: black;
  margin-left: -24.3px;
  margin-top: 16px;
  font-size: 13px;
  text-shadow: 1px 1px 12px black;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 40px;
}

.cart {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.language-toggle {
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
}

.strong {
  font-weight: 800;
}



/**
*! CART (toggled Sidebar) Styles here
**/

.sidebar-cart-div {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: -200%;
  height: 100vh;
  max-width: 500px;
  background-color: black;
  color: white;
  transition: ease-in-out 0.5s;
  padding: 20px;
  z-index: 1000;
}


.sidebar-cart-div.show {
  right: 0;
}

.empty-cart-message {
  padding-left: 30px;
  margin-top: 50px;
}

.empty-cart-message a {
  color: white;
  text-decoration: underline ;
  text-underline-offset: 5px;
 
}

.header-cart {
  border-bottom: 2px solid grey;
  padding-bottom: 15px;
  font-size: 22px;
  line-height: 17px;
  letter-spacing: 1.6px;
}

.right-side-cart-item {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px; 
}

.right-side-cart-item * {
  margin: 0;
}

.cart-item-div {
  margin-block: 50px;
  
}

.cart-item-flex {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  border: 1px solid grey;
  border-radius: 2px;
}

.cart-item-img {
  width: 40%;
  height: 200px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.name-cart-item {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.price-cart-item {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 27px;
}

.info-cart-item {
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1.6px;
}

.remove-btn {
  background-color: inherit;
  border: none;
  color: white;
  font-family: inherit;
  cursor: pointer;
  text-align: start;
  transition: color 1.5s ease-out;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0;
}

.cart-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.6px;
}

.total-cart-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 1.6px;
}

.trash-icon{
  font-size: 25px;
}

.remove-btn:hover {
  color: red;
  transition:color 1.5s ease-out;
}

.bottom {
  border-top: 2px solid grey;
  text-align: start;
  margin-top: 50px;
  padding-bottom: 50px;
}



.checkout-btn {
  font-weight: bold;
  background-color: white;
  font-family: inherit;
  width: 100%;
  cursor: pointer;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 1.5s ease-out;
}

.checkout-btn:hover {
  background-color: rgb(167, 231, 71);
  transition: background-color 1.5s ease-out;
}


@media (max-width:700px) {
  .header-cart {
    font-size: 16px;
  }
  .sidebar-cart-div {
    width: 50%;
  }
  .cart-item-flex {
   flex-direction: column;
   border: 1px solid grey;
   border-radius: 3px;
  }
  .cart-item-img {
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .right-side-cart-item {
    text-align: start;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
  }
  .remove-btn {
    padding: 0;
  }
  .info-cart-item {
    font-size: 10px;
  }
  .cart-text {
    font-size: 10px;
  }
  .giphy-embed {
    margin-top: -150px;
    padding: 0;
  }
 
}