@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 35px;
    background-color: white;
    line-height: 43px;
    letter-spacing: 3.5px;
}

.shop-header {
    text-align: center;
    margin-block: 100px;  
}


.product-grid {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
    gap: 100px;
    margin-inline: 100px;
}

.product-info-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.product-img {
    width: 100%; 
    border-radius: 2px;
    height: 500px;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.6px;
    line-height: 24px;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 27px;
}

.product-description {
    padding-inline: 10px;
    margin: 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1.6px;
}

.product-btn {
    font-weight: bold;
    font-family: inherit;
    color: white;
    width: 100%;
    background-color: black;
    font-size: 10px;
    line-height: 17.5px;
    letter-spacing: 1px;
    margin-top: 16px;
    padding-block: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.5s ease-out;
    border: none;
}

.product-btn:hover {
    background-color: rgb(80, 122, 18);
    transition: background-color 1.5s ease-out;
}

.header-products {
    color: #212121;
    padding-block: 50px 70px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0;
    font-size: 35px;
    background-color: white;
    line-height: 43px;
    letter-spacing: 3.5px;
}