.store-page .navbar {
    position: absolute;
}

.store-page {
    background-color: white;
}


.store-locations-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url("https://images.unsplash.com/photo-1556740772-1a741367b93e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.store-locations-div button {
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-family: inherit;
    margin-block: 50px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 400px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 1.6px;
}

@media (max-width:700px) {
    .store-locations-div button {
        width: 300px;
    }
}

.store-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.margin-bottom {
    margin-bottom: 100px;
}