.store-page .navbar {
    position: absolute;

}

.store-page {
    background-color: white;
}

.store-img {
   width: 100%;
   height: 70vh;
   opacity: 0.7;
}

.store-locations-div {
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-block: 100px;

}

.store-locations-div button {
    border: none;
    background-color: inherit;
   font-weight: bold;
   font-family: inherit;
   margin-block: 50px;
   border-bottom: 1px solid;
   padding-bottom: 10px;
   width: 400px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.6px;
}

@media (max-width:700px) {
    .store-locations-div button {
        width: 300px;
    }
}


.store-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
 
}

.margin-bottom {
    margin-bottom: 100px;
}