@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFBF4;
}

.nav {
    margin: 20px;
}


.img-text-presentation-div {
    display: flex;
    margin-block: 100px;
    background-color: #f8f1e6;
}

@media (max-width:1000px) {
    .img-text-presentation-div {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-text-presentation-div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }
}

.img-text-presentation-div img {
    width: 50%;
}

.text {
    text-align: center;
    align-self: center;
    font-weight: 500;
    padding-inline: 10%;
    color: #C1A878;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    letter-spacing: 0.1em;
    font-size: 24px;

}

