@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.nav {
    margin: 20px;
}

.text {
    text-align: center;
    align-self: center;
    font-weight: 500;
    padding-inline: 10%;
    color: #C1A878;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    letter-spacing: 0.1em;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.img-text-presentation-div {
    display: flex;
    margin-top: 100px;
    background-color: #f8f1e6;
}

.img-text-presentation-div img {
    width: 50%;
}


@media (max-width:700px) {

    .img-text-presentation-div {
        margin-top: 50px;
        display: block;
        padding-bottom: 20px;
    }

    .img-text-presentation-div img {
        width: 100%;
    }

    .text {
        font-size: 20px;
    }

}